# Supabase Connection - Session Pooler
# NOTA: Usa el "Session Pooler" para mejor rendimiento en aplicaciones serverless
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres.wacfhjygmoagyegzupuz
SPRING_DATASOURCE_PASSWORD=your_password_here

# App Configuration
APPLICATION_NAME=barberia-service
SERVER_PORT=8080
